<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spandan's Blog</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/styles.css">
    {% if page.latex %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true
                },
            extensions: [
                "MathMenu.js",
                "MathZoom.js",
                "AssistiveMML.js",
                "a11y/accessibility-menu.js"
            ],
            jax: ["input/TeX", "output/CommonHTML"],
            TeX: {
                extensions: [
                "AMSmath.js",
                "AMSsymbols.js",
                "noErrors.js",
                "noUndefined.js",
                ]
            }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HHD1NL5ZJZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HHD1NL5ZJZ');
    </script>
</head>