---
---
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "top"
        "main"
        "foot";
    grid-template-rows: auto 2fr auto;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(28, 28, 48);
    opacity: 70%;
    transition: hover 0.5s ease;

    &:hover {
        opacity: 100%;
        border-bottom: 2px dotted;
    }
}

.backdrop {
    width: 70%;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 30px;
}

.top {
    display: grid;
    grid-area: top;
    padding-top: 10px;

    & a {
        margin: 0 auto;
    }
}

.name {
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
}

.degree {
    font-size: 21px;
    font-weight: 400;
    opacity: 80%;
    vertical-align: center;
    text-align: center;
}

.main {
    grid-area: main;

    & a {
        display: block;
        font-weight: 400;
        opacity: 100%;

        &:hover {
            opacity: 100%;
            border: unset;
        }
    }
}

.write-area {
    grid-area: main;
    text-align: justify;
}

.card {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    width: 100%;
    max-height: 300px;
    padding: 20px;
    margin-bottom: 27px;
    background-color: white;
    box-shadow: 2px;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.01, 1.01);
    }
    
    & h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    & h4 {
        display: inline;
        opacity: 80%;
        padding-right: 5px;
    }
}

@media (max-width: 616px) {
    .backdrop {
        width: 80%;
    }
}
